* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

header {
    height: 70px;
    width: 100%;
    text-align: center;
    background-color: aqua;
    position: fixed;
    z-index: 100;

}

nav {
    display: flex;
    justify-content: center;

}
nav ul a:hover { /*esto es god*/
    color: orangered;
    font-size: 50px;
    transition: 1s;

}
nav ul li a{
    transition: 2s;
}
nav ul li a:active {
    color: rgb(5, 155, 50)

}
* {
    margin: 0;
    padding: 0;
    box-sizing: 100%;

}
#main {
    padding-top: 70px ;
    padding-bottom: 20px;
}


a , li{
    display: inline-block;
    font-style: none;
    list-style: none;
    text-decoration: none;
}

header nav {
    text-align: center;
}
header nav ul li {
    display: inline-block;
    font-size: 30px;
    margin-left: 30px;
    
} 

.mancuerna img {
    width: 10%;
    height: 20vh;
}

.fotos h2 {

    text-align: center;
    font-size: 50px;
}

.boxFoto {

    width: 200px;
    height: 200px;
    background-color: blue;
    margin-top: 20px;
}

h2 {

    color: chartreuse;
}

h2 {
    color: tomato;
}

.box {
    width: 100%;
    height: auto;
    background-color: red;

}

.boxHija {
    width: 250px;
    height: 250px;
    background-color: green;
    padding: 10px  20px;
    border: 2px solid blue;
    margin: 50px;
    overflow: auto;
}
#mancuerna{
    position: relative;
}
#mancuerna img{
    position:absolute;
    width: 100%;

}
#mancuerna .mancuerna_contenido{
    position: absolute;
    width: 40px;
    text-align: center;
}


#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    margin-top: auto;
    
}

/*sistema responsivo*/

@media (max-width: 768px) {

    #pepe {
        flex-direction: column;
        height: auto;
        justify-content: flex-start;
    }
    
    .footer_logo{
        width: 100px;
        height: 100px;
    }

    .fotosRedes {
        width: 40px;

    }
    .footer_links {
        font-size: 18px;
    }

}
@media (max-width: 480px) {

        #pepe {
            padding-top: 10px;

        }
}


/* body {
    bacground-image: url(../images/laimagenpa);
}*/

.pruebaFlex {
    width: 100%;
    height: 100vh;
    background-color: green;
    display: flex;
    gap: 20px;
    justify-content: center ; /*alinear horizontal*/
    align-items: center; /*alinear vertical*/
}

.flex1 {
    width: 100px;
    height: 100px;
    background-color: red;

}

form {
    width: 100%;
    height: auto;
    background-color: blueviolet;
}

#contentIMG{
    display: grid;
    grid-template-columns: repeat(3, 1fr); /*podes usar px tambien pibe(cantidad de columnas/ tamaño*/
    grid-template-rows: 100px 100px 100px;
    gap: 20px;
    grid-template-areas: 
    /*COL1     COL2    COL3*/
    "gridImg1 gridImg2 gridImg4"/*ROW1*/
    "gridImg3 gridImg3 gridImg4" /*ROW2*/
    "gridImg3 gridImg3 gridImg4" /*ROW3*/
    ;
}


.gridImg1{
    grid-area: gridImg1;
}

.gridImg2 {
    grid-area: gridImg2;
}

.gridImg3{
    grid-area: gridImg3;
}

.gridImg4{
    grid-area: gridImg4;
    
}

.gridImg1,
.gridImg2,
.gridImg3,
.gridImg4{
    background-image: url(../images/2019053113-clases-fitness-plantilla.jpg-840.jpg);
    background-size: cover;
}

.gridImg4{
    background-image: url(../images/images\ \(2\).jfif);
    background-repeat: no-repeat;
    background-size: cover;
}


.gridImg4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gridTitulo{
    font-size: 40px;
    color: blue;
}


.gridParrafo{
    color: white;
}



#containerGridCalafate{
    margin-top: 40px;
    display: grid;
    grid-template-columns:repeat(4 ,1fr) ;
    grid-template-rows: repeat(2, 200px) ;
    grid-template-areas: 
    /*col                              col2                col3                   col4*/
    "ImgCalafate1 ImgCalafate2 ImgCalafate3 ImgCalafate4 "/*fila1*/
    "ImgCalafate5 ImgCalafate6 ImgCalafate7 ImgCalafate8"/*fila2*/
    ;
    gap: 20px;
}

.title-calafate{
    grid-column: 3/4;
    overflow: scroll;
    grid-row: 1/2;
}

.campo{
    grid-column: 6/6;
    grid-row: 2/3;
    overflow: scroll;
    border: 1px red;
    overflow: auto;
}



.tamañoBox {
    position: relative;
}

.tamañoBox h1 {
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
}

.tamañoBox img {
    width: 100%;
    height: 100%;
}

.ImgCalafate1 {
    grid-area: ImgCalafate1;
}

.ImgCalafate2 {
    grid-area: ImgCalafate2;
}

.ImgCalafate3 {
    grid-area: ImgCalafate3;
}

.ImgCalafate4 {
    grid-area: ImgCalafate4;
}

.ImgCalafate5 {
    grid-area: ImgCalafate5;
}

.ImgCalafate6 {
    grid-area: ImgCalafate6;
}

.ImgCalafate7 {
    grid-area: ImgCalafate7;
}

.ImgCalafate8 {
    grid-area: ImgCalafate8;
}

@media (max-width: 768px) {

    #containerGridCalafate {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: (4, 200px);

        grid-template-areas: 
        "ImgCalafate1 ImgCalafate2"
        "ImgCalafate3 ImgCalafate4"
        "ImgCalafate5 ImgCalafate6"
        "ImgCalafate7 ImgCalafate8"
        
        ;
    }

}


@media (max-width: 480px) {

    #containerGridCalafate {
        grid-template-columns: 1fr;
        grid-template-rows: (8, 160px);

        grid-template-areas: 
        "ImgCalafate1" 
        "ImgCalafate2"
        "ImgCalafate3" 
        "ImgCalafate4"
        "ImgCalafate5" 
        "ImgCalafate6"
        "ImgCalafate7" 
        "ImgCalafate8"
        ;
    }
    .tamañoBox img, .tamañoBox h1 {
        max-width: 80%;
    }
}
.footer_redes i .fotosRedesInsta{
    font-size: 50px;
    background-color: rgb(55, 0, 255);
    border-radius: 100%;
    padding: 10px;
    border: 2px black dotted;
}